* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2b0b6;
}

#heart-pattern {
  background-image: url("images/heart.png");
  background-size: 10%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  opacity: 0.1;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  animation: pan 100s linear infinite;
  will-change: background-position;
  filter: brightness(0) saturate(100%) invert(21%) sepia(77%) saturate(3646%)
    hue-rotate(338deg) brightness(75%) contrast(118%);
}

@keyframes pan {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 100% 0%;
  }
}
