@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    hsla(355, 72%, 82%, 1) 0%,
    hsla(353, 74%, 68%, 1) 59%
  );
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.container > * {
  z-index: 2;
}

#heart-pattern {
  background-image: url("images/heart.png");
  background-size: 80px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 1 !important;
  height: 100%;
  width: 100%;
  animation: pan 100s linear infinite;
  will-change: background-position;
  filter: brightness(0) saturate(100%) invert(21%) sepia(77%) saturate(3646%)
    hue-rotate(338deg) brightness(75%) contrast(118%);
  pointer-events: none;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#name {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.5rem, 12vw, 10rem);
  line-height: 1.1;
  margin-bottom: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fefaf7;
  text-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.15),
    0px 0px 10px rgba(255, 255, 255, 0.4);
  opacity: 0;
  animation: fadeInUp 1.2s forwards 0.5s;
}

#desc {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  max-width: 600px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fefaf7;
  opacity: 0;
  animation: fadeInUp 1.2s forwards 1s;
}

#heart-svg {
  height: clamp(100px, 20vh, 250px);
  width: auto;
  fill: #cb0525;
  margin-top: 20px;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-drag: none;
  opacity: 0;
  animation: fadeInUp 1.2s forwards 1.5s;
}

#heart-svg path:hover {
  stroke: #ea7380;
  stroke-width: 5px;
}

.heart-text {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1.5rem, 1vw, 2.5rem);
  max-width: 600px;
  fill: #fefaf7;
  text-anchor: middle;
  dominant-baseline: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#textbox {
  width: 90%;
  max-width: 600px;
  min-height: 200px;
  margin-top: 30px;
  padding: 20px;

  border-radius: 15px;
  font-family: "Tangerine", cursive;
  font-size: 3rem;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #b31d34;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInUp 1.2s forwards 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}